@use "../var/var" as *;
@mixin medai ($point) {
    @if $point ==mobail {
        @media (max-width : 767px) {
            @content;
        }
    }

    @else if $point ==small {
        @media (min-width : 768px) {
            @content;
        }
    }

    @else if $point ==max-medium {
        @media (max-width : 992px) {
            @content;
        }
    }

    @else if $point ==medium {
        @media (min-width : 992px) {
            @content;
        }
    }

    @else if $point ==max-large {
        @media (max-width : 1200px) {
            @content;
        }
    }

    @else if $point ==large {
        @media (min-width : 1200px) {
            @content;
        }
    }
}

@mixin button ($w,$h,$b,$c,$s) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $w;
    height: $h;
    background-color: $b;
    cursor: pointer;
    color: $c;
    font: {
        size: $s;
        weight: 500;
    }
}

@mixin title () {
    hr {
        color: var(--color-two);
        width: 67px;
        margin: 0 auto 19px;
        margin-bottom: 19px;
    }
    h2 {
        color: var(--color-one);
        margin-bottom: 53px;
        font: {
            size: 20px;
            weight: 500;
        }
    }
}