$color-one: #2E2E2E; // #F2F2F2
$color-two: #FFB568; // #EFBE8A
$color-three: #595959; // #BFBFBF
$color-four: #FFFFFF; // #292929
$color-five: #F0F0F0; // #333333
$color-six: #2B2B2B; // #3D3D3D

$dark-color-one: #F2F2F2 ;
$dark-color-two: #EFBE8A ;
$dark-color-three: #BFBFBF ;
$dark-color-four: #292929 ;
$dark-color-five: #333333 ;
$dark-color-six: #3D3D3D ;
